{% extends "base.html" %}
{% block content %}
 <!--================Slider Area =================-->
        <section class="main_slider_area">
            <div id="main_slider" class="rev_slider" data-version="5.3.1.6">
                <ul>
                    <li data-index="rs-1587" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="static/img/home-slider/slider-1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="static/img/home-slider/slider-1.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>

                        <!-- LAYER NR. 1 -->
                        <div class="slider_text_box">
                            <div class="tp-caption tp-resizeme first_text"
                            data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                            data-y="['top','top','top','top']" data-voffset="['175','175','125','165','160']"
                            data-fontsize="['65','65','65','40','30']"
                            data-lineheight="['80','80','80','50','40']"
                            data-width="['800','800','800','500']"
                            data-height="none"
                            data-whitespace="normal"
                            data-type="text"
                            data-responsive_offset="on"
                            data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                            data-textAlign="['left','left','left','left']">Wake & Bake<br />Delight in every bite</div>

                            <div class="tp-caption tp-resizeme secand_text"
                                data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                                data-y="['top','top','top','top']" data-voffset="['345','345','300','300','250']"
                                data-fontsize="['20','20','20','20','16']"
                                data-lineheight="['28','28','28','28']"
                                data-width="['640','640','640','640','350']"
                                data-height="none"
                                data-whitespace="normal"
                                data-type="text"
                                data-responsive_offset="on"
                                data-transform_idle="o:1;"
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"> With 9-year journey of perfection and development - Nearly 20 service establishments, we confidently lead with prestige and quality
                            </div>

                            <div class="tp-caption tp-resizeme slider_button"
                                data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                                data-y="['top','top','top','top']" data-voffset="['435','435','390','390','360']"
                                data-fontsize="['14','14','14','14']"
                                data-lineheight="['46','46','46','46']"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-type="text"
                                data-responsive_offset="on"
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                                <a class="main_btn" href="#">See the recipe</a>
                            </div>
                        </div>
                    </li>
                    <li data-index="rs-1588" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="static/img/home-slider/slider-2.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="static/img/home-slider/slider-2.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="slider_text_box">
                            <div class="tp-caption tp-resizeme first_text"
                            data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                            data-y="['top','top','top','top']" data-voffset="['175','175','125','165','160']"
                            data-fontsize="['65','65','65','40','30']"
                            data-lineheight="['80','80','80','50','40']"
                            data-width="['800','800','800','500']"
                            data-height="none"
                            data-whitespace="normal"
                            data-type="text"
                            data-responsive_offset="on"
                            data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                            data-textAlign="['left','left','left','left']">Wake & Bake <br />A slice of heaven</div>

                            <div class="tp-caption tp-resizeme secand_text"
                                data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                                data-y="['top','top','top','top']" data-voffset="['345','345','300','300','250']"
                                data-fontsize="['20','20','20','20','16']"
                                data-lineheight="['28','28','28','28']"
                                data-width="['640','640','640','640','350']"
                                data-height="none"
                                data-whitespace="normal"
                                data-type="text"
                                data-responsive_offset="on"
                                data-transform_idle="o:1;"
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">With 9-year journey of perfection and development - Nearly 20 service establishments, we confidently lead with prestige and quality
                            </div>

                            <div class="tp-caption tp-resizeme slider_button"
                                data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                                data-y="['top','top','top','top']" data-voffset="['435','435','390','390','360']"
                                data-fontsize="['14','14','14','14']"
                                data-lineheight="['46','46','46','46']"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-type="text"
                                data-responsive_offset="on"
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                                <a class="main_btn" href="#">See the recipe</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--================End Slider Area =================-->

        <!--================Welcome Area =================-->
        <section class="welcome_bakery_area">
        	<div class="container">
        		<div class="welcome_bakery_inner p_100">
        			<div class="row">
        				<div class="col-lg-6">
        					<div class="main_title">
								<h2>Welcome sweeties!</h2>
								<p>At Wake & Bake, we offer a wide range of bakery items that are perfect for any occasion. From our freshly baked breads to our decadent cakes and pastries, each of our products is made with the finest ingredients and the utmost care.</p>
							</div>
        					<div class="welcome_left_text">
        						<p>We are on our way to manipulate your mind with over 50 bakery spreading across cities and countries, ready to serve you a delight in every bite. On top of that, we have recieved various certificates in this competitive field pushing us to become one of the world's most reputable and high-quality bakery. Wonder how can we achieve that? Try it now!   </p>
        						<a class="pink_btn" href="#">Know more about us</a>
        					</div>
        				</div>
        				<div class="col-lg-6">
        					<div class="welcome_img">
        						<img class="img-fluid" src="static/img/cake-feature/welcome-right.jpg" alt="">
        					</div>
        				</div>
        			</div>
        		</div>
        		<div class="cake_feature_inner">
        			<div class="main_title">
						<h2>Our Featured Cakes</h2>
						<h5>Sweet treats, guaranteed No Regrets</h5>
					</div>

       				<div class="cake_feature_slider owl-carousel">
        {% for product in products %}
       					<div class="item">
       						<div class="cake_feature_item">
       							<div class="cake_img">
                    	<img src="{{ product.image.url }}" alt="{{ product.name }}">
								</div>
       							<div class="cake_text">
       								<h4>$ {{product.price}} </h4>
       								<a href="{% url 'productdetail' product.id %}">
    <h3>{{ product.name }}</h3>
</a>
       								<a class="pest_btn" href="/cart">Add to cart</a>
       							</div>
       						</div>
       					</div>
       					{% endfor %}
       				</div>
        		</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->

        <!--================Bakery Video Area =================-->
        <section class="bakery_video_area">
        	<div class="container">
        		<div class="video_inner">
        			<h3>Real Taste</h3>
        			<p>A light, sour wheat dough with roasted walnuts and freshly picked rosemary, thyme, poppy seeds, parsley and sage</p>
        			<div class="media">
        				<div class="d-flex">
        					<a class="popup-youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto"><i class="flaticon-play-button"></i></a>
        				</div>
        				<div class="media-body">
        					<h5>Watch intro video <br />about us</h5>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Bakery Video Area =================-->
        <!--================Service Area =================-->
        <section class="service_area">
        	<div class="container">
        		<div class="single_w_title">
        			<h2>Only at Wake & Bake</h2>
        		</div>
        		<div class="row service_inner">
        			<div class="col-lg-4 col-6">
        				<div class="service_item">
        					<i class="flaticon-food-2"></i>
        					<h4>Reserved Cupcakes</h4>
        					<p>- Imagination and Creativity - </p>
							<p> Freely create your own eye-catching and unique cupcakes. Note: Book 2 days in advance</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-6">
        				<div class="service_item">
        					<i class="flaticon-food-1"></i>
        					<h4>Birthday Cakes</h4>
        					<p>- Gourmet and Fancy -</p>
							<p>A combination of traditional custard cake and melt choco inside or a layer of ice cream outside that sweet your soul</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-6">
        				<div class="service_item">
        					<i class="flaticon-food"></i>
        					<h4>Pies lessons</h4>
        					<p>- Mr.BakerPie -</p>
							<p>Come and make your own pies. We offer a baking course specialized in pies for all ages where you can become a professional baker</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Service Area =================-->

        <!--================Discover Menu Area =================-->
        <section class="discover_menu_area">
        	<div class="discover_menu_inner">
        		<div class="container">
        			<div class="main_title">
						<h2>Discover Menu</h2>
					</div>
       				<div class="row">
       					<div class="col-lg-6">
       						<div class="discover_item_inner">
       							<div class="discover_item">
									<h4>Caramel Apple Pie</h4>
									<p>Melt caramel sauce, cinnamon-spiced apple, flaky crust <span>$2.99</span></p>
								</div>
       							<div class="discover_item">
									<h4>Strawberry Croissant</h4>
									<p>Vanilla custard, melt chocolate<span>$3.69</span></p>
								</div>
       							<div class="discover_item">
									<h4>Tiramisu</h4>
									<p>Chocolate heavy cream, vanilla extract, cocoa powder <span>$4.50</span></p>
								</div>
       							<div class="discover_item">
									<h4>Passion cheesecake</h4>
									<p>Creamcheese, sour cream, berries jam filling <span>$4.69</span></p>
								</div>
       						</div>
       					</div>
       					<div class="col-lg-6">
       						<div class="discover_item_inner">
       							<div class="discover_item">
									<h4>Cinnamon Rolls</h4>
									<p>Whipped cream with beries, cookie crumbs <span>$3.99</span></p>
								</div>
       							<div class="discover_item">
									<h4>Tart cheese</h4>
									<p>Cream cheese filling, almond crispy crust <span>$5.40</span></p>
								</div>
       							<div class="discover_item">
									<h4>Double Chocolate Donut</h4>
									<p>Chocolate puding, vanilla, citrus glaze <span>$8.80</span></p>
								</div>
       							<div class="discover_item">
									<h4>Matcha roll</h4>
									<p>Matcha whipped cream, coconut cream frosting <span>$3.50</span></p>
								</div>
       						</div>
       					</div>
       				</div>
        		</div>
        	</div>
        </section>
        <!--================End Discover Menu Area =================-->

        <!--================Client Says Area =================-->
        <section class="client_says_area p_100">
        	<div class="container">
        		<div class="client_says_inner">
        			<div class="c_says_title">
        				<h2>What Our Client Says</h2>
        			</div>
        			<div class="client_says_slider owl-carousel">
        				<div class="item">
        					<div class="media">
        						<div class="d-flex">
        							<img src="static/img/client/client-1.png" alt="">
        							<h3>“</h3>
        						</div>
        						<div class="media-body">
        							<p>Consistently beautiful cakes.....This is how i'll describe WOW cakes. I've been ordering his cakes for over 5years and I've never been disappointed. Our last order of twin PJ Masks cakes was and still is the talk of my kids class. It was a piece of art.
									</p>
        							<h5>- Sogie Osagie</h5>
        						</div>
        					</div>
        				</div>
        				<div class="item">
        					<div class="media">
        						<div class="d-flex">
        							<img src="static/img/client/client-1.png" alt="">
        						</div>
        						<div class="media-body">
        							<p>My reaction the very first time I saw WOW cup cakes🥧 was Wow!😱. It has since become a regular feature at celebrations in my house. Each cake has its distinct feature and I have not stopped being wowed by WOW cakes. Simply the best.👍🏽
									</p>
        							<h5>- Robert joe</h5>
        						</div>
        					</div>
        				</div>
        				<div class="item">
        					<div class="media">
        						<div class="d-flex">
        							<img src="static/img/client/client-1.png" alt="">
        						</div>
        						<div class="media-body">
        							<p>I would like to thank Wake&Bake for the most amazing cake. Not only it undoubtedly looked fabulous and perfectly fitted with everything else and all decorations but it tasted amazing too! Thanks for the amazing cake, you guys just helped us make our wedding day perfect!  </p>
        							<h5>- Michael Orbih</h5>
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Client Says Area =================-->

        <!--================End Client Says Area =================-->
        <section class="our_chef_area p_100">
        	<div class="container">
        		<div class="row our_chef_inner">
        			<div class="col-lg-3 col-6">
        				<div class="chef_text_item">
        					<div class="main_title">
								<h2>Our chefs</h2>
								<p>Exclusive cakes need its skilled makers. Here we are, our top skilled chefs with officially international qualifications ready to serve you a slice of heaven </p>
							</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-6">
        				<div class="chef_item">
        					<div class="chef_img">
        						<img class="img-fluid" src="static/img/chef/chef-1.jpg" alt="">
        						<ul class="list_style">
        							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
        							<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        							<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
        							<li><a href="#"><i class="fa fa-skype"></i></a></li>
        						</ul>
        					</div>
        					<a href="#"><h4>Susan Cornor </h4></a>
        					<h5>Expert in Chocolate making</h5>
        				</div>
        			</div>
        			<div class="col-lg-3 col-6">
        				<div class="chef_item">
        					<div class="chef_img">
        						<img class="img-fluid" src="static/img/chef/chef-2.jpg" alt="">
        						<ul class="list_style">
        							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
        							<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        							<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
        							<li><a href="#"><i class="fa fa-skype"></i></a></li>
        						</ul>
        					</div>
        					<a href="#"><h4>Colin Coats</h4></a>
        					<h5>Expert in Cake Making</h5>
        				</div>
        			</div>
        			<div class="col-lg-3 col-6">
        				<div class="chef_item">
        					<div class="chef_img">
        						<img class="img-fluid" src="static/img/chef/chef-3.jpg" alt="">
        						<ul class="list_style">
        							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
        							<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        							<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
        							<li><a href="#"><i class="fa fa-skype"></i></a></li>
        						</ul>
        					</div>
        					<a href="#"><h4>John Smith</h4></a>
        					<h5>Expert in Cake Designing</h5>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Client Says Area =================-->

        <!--================Latest News Area =================-->
        <section class="latest_news_area p_100">
        	<div class="container">
        		<div class="main_title">
					<h2>Latest Blog</h2>
					<h5>Articles and posts about us in recent years </h5>
				</div>
       			<div class="row latest_news_inner">
       				<div class="col-lg-4 col-md-6">
       					<div class="l_news_image">
       						<div class="l_news_img">
       							<img class="img-fluid" src="static/img/blog/latest-news/l-news-1.jpg" alt="">
       						</div>
       						<div class="l_news_hover">
       							<a href="#"><h5>May 14, 2016</h5></a>
       							<a href="#"><h4>Low-calorie oat flour has arrived at Wake & Bake offering a healthier choice </h4></a>
       						</div>
       					</div>
       				</div>
       				<div class="col-lg-4 col-md-6">
       					<div class="l_news_item">
       						<div class="l_news_img">
       							<img class="img-fluid" src="static/img/blog/latest-news/l-news-2.jpg" alt="">
       						</div>
       						<div class="l_news_text">
       							<a href="#"><h5>Jan 10, 2020</h5></a>
       							<a href="#"><h4>Wake & Bake takes the lead with 15,000 box of cookies</h4></a>
       							<p>According to The Crumkies magazine, even though the overall profits from confectionary are declined significantly, Wake & Bake still remains their position </p>
       						</div>
       					</div>
       				</div>
       				<div class="col-lg-4 col-md-6">
       					<div class="l_news_item">
       						<div class="l_news_img">
       							<img class="img-fluid" src="static/img/blog/latest-news/l-news-3.jpg" alt="">
       						</div>
       						<div class="l_news_text">
       							<a href="#"><h5>Sep 1, 2023</h5></a>
       							<a href="#"><h4>Non-electric baking machines have been applied at Wake & Bake</h4></a>
       							<p>The most modern type of technology which minimizes the use of electricity and optimizes the quality of goods is officially used at Wake & Bake...</p>
       						</div>
       					</div>
       				</div>
       			</div>
        	</div>
        </section>
        <!--================End Latest News Area =================-->
        {% endblock %}